 /*Styles the webpage in general, such as the body margin, font, navigation bar, footer, headers, and paragraphs. Makes the body margin 0 and the font for the webpage to be Comic Sans MS for the heading and paragraph.*/
body {
   margin: 0 auto;
   font-family: "Comic Sans MS", cursive, sans-serif;
}
nav ul, footer ul {
    font-family: "Comic Sans MS", cursive, sans-serif;
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
/*When something is hovered over by the cursor, there will be an underline*/
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family: "Comic Sans MS", cursive, sans-serif;
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

/*Styles the body of the webpage to have a linear-gradient*/
body {
  height: 400px;
  background: linear-gradient(to right, #10108a 20%, #6f38e6 70%)
}

div {
  resize: both;
  overflow: auto;
}

/* Styles the Header/Logo Title with a lightblue background, white font, with a font-size of 10px */
.header {
  padding: 0px;
  text-align: center;
  background: black;
  color: white;
  font-size: 10px;
}
